body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;

}
          /* header start */
.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}
.header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 18px;
    color:#E5E7EB
}
.header h1{
    font-size: 24px;
    color: #f9faf8;

}
          /* header end */

          .content{
              display: flex;
              flex-direction: column;
          }
         /* Hero start */
.hero {
    display: flex;
    padding: 70px 137px;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}
.hero .text{
    /* display: flex;
    flex-direction: column; */
    width: 548px;
}
.hero .image {
    display: flex;
justify-content: center;
align-items: center;
background-color: dimgray;
padding: 20px;
height: 150px;
width: 453px;
color: #f9faf8;
margin-left: -219px;
}
.hero h1{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}
.hero p {
    font-size: 18px;
    color:#E5E7EB;
    width: 445px;
}
.hero button {
    padding: 10px;
    background-color: #3882F6;
    color: #f9faf8;
    font-size: 16px;
width: 158px;
    flex-grow: 0;
    border-radius: 10px;
    border-color: #3882F6;
    font-weight: 900;

}
       /* info section */
       .info {padding: 30px;


       }
       .info h1 {
        font-size: 36px;
        text-align: center;
        color: #1F2937;
        font-weight: 900;
       }
       .info .cards {
        display: flex;
        justify-content: center;
        gap: 65px;
        margin-top: 40px;
       }
       .card-image {
        width: 148px;
        height: 126px;
        border-radius: 10px;
        border-color: #3882F6;
        border-style: solid;
      }
       
       .info .card {
        display: flex;
        flex-direction: column;
        width: 150px;
        text-align: center;

      }
      /* info section done */

      /* quote section */
      .quotes{
        background-color: #E5E7EB;
        padding: 212px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 150px;
     
          
      }
      .quote {
        font-size: 36px;
        font-weight: 306;
      }
      .author{
        margin-left: 1082px;
        font-weight: bold;
        font-size: 16px;
      }
      
      /* quote section done*/
       